# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
*.pnp
.pnp.js

# testing
frontend/coverage

# next.js
frontend/.next/
frontend/out/

# production
frontend/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
# .env.local
# .env.development.local
# .env.test.local
# .env.production.local

# vercel
.vercel

# local flywheel backup
backup/

#docker config
docker/*
docker/_testing
docker/_testing3
!docker/_main
docker/_main/next

#design
assets

#backend
backend/conf/
backend/logs/
backend/backup/
backend/app/sql/

#wordpress
backend/app/public/*.*
backend/app/public/wp-admin/
backend/app/public/wp-includes/
backend/app/public/wp-content/*.*
backend/app/public/wp-content/uploads/
backend/app/public/wp-content/ai1wm-backups/
backend/app/public/wp-content/languages/

backend/app/public/wp-content/themes/*
!backend/app/public/wp-content/themes/next-react-wp

backend/app/public/wp-content/plugins/*
!backend/app/public/wp-content/plugins/cgb-*

backend/app/public/wp-content/mu-plugins/*
